/* ReservePage.scss */
.reserve-page {
  min-height: 100vh;
  position: relative;

  .sticky-arrow-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 100;
    pointer-events: none;

    .back-arrow {
      position: absolute;
      top: 2.5rem;
      left: 7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      color: #222222;
      background-color: #f7f7f7;
      border-radius: 100%;
      pointer-events: auto;

      &:hover {
        color: #717171;
      }
    }
  }

  .reserve-header {
    padding: 1.5rem 1.5rem;
    padding-top: 2rem;
    background-color: #ffffff;

    .header-container {
      max-width: 1200px;
      margin: 0 auto;
      position: relative;
      padding-left: 4rem;
      display: flex;
      align-items: center;
    }

    .page-title {
      margin: 0;
      font-size: 32px;
      font-weight: 600;
      color: #222222;
    }
  }
}

.reserve-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;

  .reserve-grid {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: start;
  }
}

.reserve-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 950px) and (max-width: 1190px) {
  .reserve-page {
    .sticky-arrow-wrapper {
      .back-arrow {
        left: 0.5rem;
        top: 2.5rem;
      }
    }
    .reserve-header {
      .header-container {
        padding-left: 1.5rem;
      }
    }
  }
}

@media (max-width: 950px) {
  .reserve-page {
    .sticky-arrow-wrapper {
      .back-arrow {
        left: 9rem;
        top: 2.5rem;
      }
    }

    .reserve-header {
      .header-container {
        padding-left: 10.3rem;
      }
    }
  }
  .reserve-container {
    .reserve-grid {
      align-items: center;
      flex-direction: column-reverse;
      gap: 2rem;
    }
  }
}
