.stay-details {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  max-width: 1120px;
  // max-inline-size: 1280px;
  margin: 0 auto;

  // @media (min-width: 1440px) {
  //   max-width: none;
  //   padding-left: var(80px);
  //   padding-right: var(80px);
  // }

  // @media (min-width: 1128px) {
  //   max-width: 1120px;
  //   padding-left: var(80px);
  //   padding-right: var(80px);
  // }
  // @media (min-width: 950px) {
  //   padding-left: var(40px);
  //   padding-right: var(40px);
  // }
  // @media (min-width: 744px) {
  //   padding-left: var(40px);
  //   padding-right: var(40px);
  // }
  // @media (min-width: 375px) {
  //   padding-left: var(24px);
  //   padding-right: var(24px);
  // }

  // .stay-details {
  //   max-width: 1200px;
  //   margin: 0 auto;
  //   padding: 80px;
  // }

  .stay-details-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
  }

  .details-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.booking-sidebar {
  padding: 32px 0 0;
}