.stay-index {
  padding-block-start: 200px;

  &.after-closed-header {
    padding-block-start: 80px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 0.3em;
  }

  button {
    margin-inline-end: 0;
  }
}