.app-header {
    min-height: 5rem;
    background: linear-gradient(0deg,
            hsla(0, 0%, 98%, 1) 0%,
            hsla(0, 0%, 100%, 1) 100%);
    border-bottom: 1px solid #EBEBEB;
    padding-block: 1rem;

    nav {
        // justify-content: space-between;
        display: grid;
        grid-template-areas:
            'logo . btns'
            'filter filter filter';
        width: 100%;
        align-items: center;
        font-size: 0.9em;


        .active {
            color: $clr1;
        }



        .logo {
            grid-area: logo;

            svg {
                margin-inline-end: 0.5rem;
            }

            a {
                display: flex;
                font-size: 1.4em;
                font-weight: bold;
                margin-inline-end: 2em;
                color: #FF385C;
                font-family: poppins;

                &:hover {
                    text-decoration: none;
                }
            }

            span {
                display: inline;

            }
        }

        .login-link {
            margin-inline-start: auto;
        }

        .btns {
            grid-area: btns;
            justify-self: end;

            .host-guest-btn {
                background-color: transparent;
                font-weight: 800;
            }

            .menue-btn {
                background-color: #f2f2f2;
                border-radius: 50%;
                min-height: 40px;
                min-width: 40px;

                svg {
                    justify-self: center;
                }

            }
        }

        button {
            font-family: poppins;
            margin-inline-end: 0;

            color: $clr7
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;
        color: $clr1;

        .score {
            padding: 8px;
            background-color: $clr2;
            border-radius: 50%;
            margin: 10px;

            color: $clr6;
        }

        img {
            width: 32px;
            aspect-ratio: 1;
            border-radius: 50%;
        }

        .btn-link {
            color: $clr2;
        }
    }
}