.details-image-gallery {
  border-radius: 12px;
  overflow: hidden;
}

.grid-container {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: dense;

  .image-wrapper {
    aspect-ratio: 1 / 1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 0.3s;
    }
    &:hover img {
      opacity: 0.9;
    }

    &.main-image {
      grid-column: span 2;
      grid-row: span 2;
      aspect-ratio: 2 / 2;
    }
  }
}

@media (max-width: 763px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 0;

    .image-wrapper {
      display: none;

      &.main-image {
        display: block;
        grid-column: 1 / -1;
        width: 100%;
        height: auto;
        aspect-ratio: auto;
        border-radius: 0;

        img {
          width: 100vw;
          height: auto;
          border-radius: 0;
          object-fit: cover;
          display: block;
        }
      }
    }
  }
}
