.calender {
    justify-self: center;
    // border-radius: 50px;
    // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 170px;
    z-index: 10;


}

.rdrCalendarWrapper {
    font-family: poppins !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50px !important;
    padding: 2rem;
}

.rdrMonths {
    gap: 56px;
}

.rdrDateDisplayWrapper {
    background: none;
    font-family: poppins;
}

.rdrDateDisplayItem {
    border-radius: 50px;
}

.rdrDateDisplay {
    color: transparent !important;

    span {
        box-shadow: none !important;
    }
}

.rdrDateDisplayItemActive input,
.rdrDateDisplayItem input {
    color: black;
    font-weight: bold;
    font-family: poppins;
    font-size: 0.9rem;
}


.rdrDay {
    max-width: 51px!important;
    height: 51px;
    width: 100%;


    .rdrDayNumber {
        font-size: 0.825rem;
        font-weight: 600;
        width: 100%;

    }

}

.rdrDays {
    display: grid;
    grid-template-columns: repeat(7, minmax(35px,51px));
  justify-content: center;
  
    button {
        margin: 0 !important;
    }
}


.rdrWeekDay {
    max-width: 51px !important;
}

.rdrMonth {
    width: 357px;
    padding: 0;
}

.rdrMonthName {
    display: none;
}

/* תאריך התחלה וסיום בצבע שחור */
.rdrStartEdge,
.rdrEndEdge {
    background: black !important;
    // color: whit;
    border-radius: 50% !important;
    aspect-ratio: 1;
    top: 2px;

}

/* התאריכים שבאמצע באפור */
.rdrInRange {
    background: #f7f7f7 !important;
    border-radius: 0 !important;
    right: 0 !important;
    left: 0 !important;
    color: black !important;

}

.rdrDay:not(.rdrDayPassive) .rdrInRange~.rdrDayNumber span,
.rdrDay:not(.rdrDayPassive),
.rdrDay:not(.rdrDayPassive),
.rdrDay:not(.rdrDayPassive) .rdrSelected~.rdrDayNumber span {
    color: black;
}

.rdrDayStartPreview,
.rdrDayEndPreview {
    border: 1px solid black !important;
    border-radius: 50% !important;
    aspect-ratio: 1;
    // height: 51px;
    // width: 51px;
    // bottom: 2px !important;
}

.rdrDayInPreview {
    border: none;

}

.rdrDayToday .rdrDayNumber span:after {
    display: none;
}