.stay-filter {
  grid-area: filter;
  display: flex;
  align-items: center;
  margin-inline: auto;
  margin-block: 1.5em;
  border-radius: 50px;
  gap: 0 0.5em;
  background-color: $clr6;
  padding-inline: 1.2rem;
  padding-block: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #f8f8f8;

  .input-section{
    border-right: 1px solid $gray1;

    p{
      margin: 0;
      color: rgb(118, 118, 118);
    }
  }
  label{
    font-size:  0.75rem;
    font-weight: 700;
  }
  input{
    border: none;
    font-family: poppins;

    &:focus {
      outline: none;
      background-color: $gray1;
    }
  }


    font-size: 0.8em;
  }

