.stay-filter {
  grid-area: filter;
  display: flex;
  align-items: center;
  margin-inline: auto;
  margin-block: 1.5em;
  border-radius: 50px;
  gap: 0 0.5em;
  background-color: $clr6;
  padding-inline: 1.2rem;
  padding-block: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #f8f8f8;

  .input-section{
    border-right: 1px solid $gray1;
  }
  label{
    font-size:  0.75rem;
    font-weight: 700;
  }
  input{
    border: none;

    &:focus {
      outline: none;
      background-color: $gray1;
    }
  }

  .btn-clear {
    grid-column: 4;
  }

  .sort-field,
  .sort-dir {
    display: flex;
    align-items: center;
    gap: 1em;

    // margin-inline-start: .4em;

    font-size: 0.8em;
  }

  .sort-dir {
    grid-column: 2 / 3;
  }

  input[type='radio'] {
    display: none;
  }

  // label {
  //   span {
  //     font-size: 0.9em;
  //     padding: 0.1em 0.3em;
  //     outline: 1px solid $gray1;
  //   }

  //   &:has(:checked) span {
  //     background-color: $clr3;
  //     color: $gray1;
  //   }
  // }
}