.stay-highlights {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 1px solid $gray1;

  padding: 10px 0;
  font-size: 0.875rem;

  .highlight-host {
    display: flex;
    align-items: flex-start;
    column-gap: 24px;
    gap: 16px;
    padding-bottom: 5px;

    .highlight-icon {
      font-size: 1.5rem;
      flex-shrink: 0;
    }

    .highlight-text {
      h4 {
        margin: 0;
        font-size: 0.875rem;
        font-weight: 500;
        color: #222222;
      }

      p {
        font-size: 0.875rem;
        color: #555;
        color: rgb(106, 106, 106);
        line-height: 1.4;
        font-weight: 400;
        // margin: 0;

        svg {
          font-size: 0.875rem;
        }
      }
    }
  }
}
