.details-image-gallery {
  overflow: hidden;
  border-radius: 12px;
}
.grid-container {
  display: grid;
  overflow: hidden;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: dense;

  .image-wrapper {
    aspect-ratio: 1 / 1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 0.3s;
    }
    &:hover img {
      opacity: 0.9;
    }

    &.main-image {
      grid-column: span 2;
      grid-row: span 2;
      aspect-ratio: 2 / 2;
    }
  }
}
// break points -> 1440 -> 1127 -> 950 -> 744
// 950  upper left  header logo disappear
// mobile  S < 320px < M 375px < L 420px < tablet 768px  < laptop 1024px

// @media (max-width: 768px) {
//   .grid-container {
//     grid-template-columns: 1fr;
//     gap: 0;

//     .image-wrapper {
//       display: none;

//       &.main-image {
//         display: block;
//         grid-column: 1 / -1;
//         width: 100%;
//         height: auto;
//         aspect-ratio: auto;

//         img {
//           width: 100vw;
//           height: auto;
//           object-fit: cover;
//           display: block;
//         }
//       }
//     }
//   }
// }
